<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title-page">FestejApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="events-card" *ngFor="let evento of eventos">
      <ion-card-header>
        <ion-card-title>{{ evento.nome }}</ion-card-title>
      </ion-card-header>

      <!-- TODO: Adicionar imagem -->
      <ion-img src="/assets/festejapp.jpg"></ion-img>

      <ion-card-content>
        <div style="display: flex; flex-direction: row; align-items: center">
          <div style="padding-right: 10px">
            {{ evento.data_evento + " " + evento.hora_evento | date }}
            <ion-icon name="calendar"></ion-icon>
          </div>

          <ion-button (click)="openMap()">
            Localização
            <ion-icon name="pin"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
