<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card class="events-card">
      <ion-card-header>
        <ion-card-title>{{title_card}}</ion-card-title>
      </ion-card-header>
      <ion-img src="/assets/festejapp.jpg"></ion-img>
      <ion-card-content>
        <p>Show para lembrar todos as pessoas esquecidas na sociedade.</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <!--div>22/06/19</div-->
            <ion-icon name="calendar"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
            <button ion-button icon-left clear large>
              <!--div>22h00</div-->
              <ion-icon name="clock"></ion-icon>
            </button>
          </ion-col>
      </ion-row>

      
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>