<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title><b>Cadastrar Eventos</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="/assets/categoria1.jpg"></ion-img>

  <form #f (ngSubmit)="submit(f)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Titulo do Evento <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" name="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Categorias</ion-label>
        <ion-select name="tipo_evento_id" value="1">
          <ion-select-option value="1">Gastronomia</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-list>

      <ion-item>
        <ion-label>Data de Início</ion-label>
        <ion-datetime name="data_evento" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">
        <ion-icon slot="start" name="save"></ion-icon>
        Salvar
      </ion-button>
    </div>
  </form>
</ion-content>