<ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/categoria1.jpg"></ion-img>

  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Titulo do Evento <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Categorias</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="gastro">Gastronomia</ion-select-option>
          <ion-select-option value="show">Shows</ion-select-option>
          <ion-select-option value="negocio">Negócios</ion-select-option>
          <ion-select-option value="estudo">Estudos</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Endereço</ion-label>
        <ion-input placeholder="Address Line 1"></ion-input>
        <ion-input placeholder="Address Line 2"></ion-input>
      </ion-item>

    </ion-list>

    <ion-list>

      <ion-item>
        <ion-label>Data de Início</ion-label>
        <ion-datetime displayFormat="DD/MMM/YYYY HH:mm" min="2019-06-01" max="2024-12-31"
          pickerFormat="DD / MMM / YYYY HH mm"
          monthShortNames='jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez' doneText="Ok"
          cancelText="Cancelar">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Data de Término</ion-label>
        <ion-datetime displayFormat="DD/MMM/YYYY HH:mm" min="2019-06-01" max="2024-12-31"
          pickerFormat="DD / MMM / YYYY HH mm"
          monthShortNames='jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez' doneText="Ok"
          cancelText="Cancelar">
        </ion-datetime>
      </ion-item>

    </ion-list>


  </form>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button expand="full" href="profile">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="the" slot="fixed" style="background-color: red">
    <ion-fab-button expand="full" href="profile">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>