<ion-header>
  <ion-toolbar>
    <ion-title><b>Perfil</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" href="create-event">
    <ion-icon slot="start" name="create-event"></ion-icon>
    Cadastrar Evento
  </ion-button>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button expand="full" href="create-event">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>
