<ion-header>
  <ion-toolbar>
    <ion-title><b>Perfil</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-row class='profile-section'>
      <ion-col size='2'>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-col>
      <ion-col size='10'>
        <h2>Nome da pessoa</h2>
        <h4>email@exemplo.com</h4>
      </ion-col>
    </ion-row>

    <ion-list>
        <ion-list-header>
          Eventos Cadastrados
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-finn.png">
          </ion-avatar>
          <ion-label>
            <h2>Título do Evento</h2>
            <h3>Data do Evento</h3>
            <p>Descrição do Evento</p>
          </ion-label>

          <ion-fab-button expand="full" href="edit-event">
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
          
        </ion-item>

        
      </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button href="create">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>



</ion-content>

