<ion-header>
  <ion-toolbar>
    <ion-title>
      <b>Pesquisar</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-ion-toggle">

    <ion-card-content>
     
      <ion-card-title><b>Categorias</b></ion-card-title>
 
      <!-- Toggles in a List -->
      <ion-list>
        <ion-item>
          <ion-label>Todos</ion-label>
          <ion-toggle [(ngModel)]="todos" (ngModelChange)="Pesquisar()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Aprender</ion-label>
          <ion-toggle [(ngModel)]="aprender"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Shows</ion-label>
          <ion-toggle [(ngModel)]="shows"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Negócios</ion-label>
          <ion-toggle [(ngModel)]="negocios"></ion-toggle>
        </ion-item>

      </ion-list>
    </ion-card-content>

    <ion-card-content>
      
        <ion-card-title><b>Local</b></ion-card-title>
        <!-- Toggles in a List -->
        <ion-list>
          <ion-item>
            <ion-label>Escolher Cidade</ion-label>
            <ion-toggle [(ngModel)]="escolherCidade" disabled="true"></ion-toggle>
          </ion-item>
  
          <ion-item>
            <ion-label>Minha Localização</ion-label>
            <ion-toggle [(ngModel)]="minhaLocalizacao"></ion-toggle>
          </ion-item>
  
          <ion-item>
            <ion-label>Todas as cidades</ion-label>
            <ion-toggle [(ngModel)]="todasCidades" disabled="true"></ion-toggle>
          </ion-item>
  
        </ion-list>
      </ion-card-content>

      <ion-card-content>
      
        <ion-card-title><b>Data</b></ion-card-title>
        <!-- Toggles in a List -->
        <ion-list>
          <ion-item>
            <ion-label>Todos</ion-label>
            <ion-toggle [(ngModel)]="todos"></ion-toggle>
          </ion-item>
  
          <ion-item>
            <ion-label>Hoje</ion-label>
            <ion-toggle [(ngModel)]="hoje"></ion-toggle>
          </ion-item>
  
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Escolher data</ion-label>
            <ion-toggle [(ngModel)]="escolherData"></ion-toggle>
          </ion-item>
  
        </ion-list>
      </ion-card-content>

  </ion-card>

    <!-- Expand -->
    <ion-button expand="full" href="events">
      <ion-icon slot="start" name="search"></ion-icon>
      Pesquisar
    </ion-button>

</ion-content>
