<ion-header>
  <ion-toolbar>
    <ion-title>
      <b>FestejApp</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with a placeholder -->
  <ion-searchbar placeholder="Pesquisar Evento"></ion-searchbar>

  <ion-card class="welcome-card">
    <ion-img src="/assets/festejapp.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Bem vindo ao FestejApp</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Agora você pode acompanhar os eventos que estão acontecendo na sua cidade.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    
  </ion-list>
</ion-content>