<ion-header>
  <ion-toolbar>
    <ion-title>
      <b>FestejApp</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with a placeholder -->
  <ion-searchbar placeholder="Pesquisar Evento"></ion-searchbar>

  <ion-card class="welcome-card">
    <ion-img src="/assets/festejapp.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Bem vindo ao FestejApp</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Agora você pode acompanhar os eventos que estão acontecendo na sua cidade.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Destaques</b></ion-card-title>
    </ion-card-header>

    <ion-slides pager="true">
      <ion-slide>
        <ion-card class="slide-card">
          <ion-img src="/assets/categoria1.jpg"></ion-img>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="slide-card">
          <ion-img src="/assets/categoria2.jpg"></ion-img>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="slide-card">
          <ion-img src="/assets/categoria3.jpg">t</ion-img>
          <!--h1>Slide 1</h1-->
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card>

</ion-content>